{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row mb-1 mt-1">
        {% include "nav.html" %}
    </div>
</div>

<div class="container">

    <!-- Header -->
    <div class="row mb-1 mt-1">

        <div class="col-md-4 bg-secondary">
            <div class="row mt-2">
                <div class="btn-group" role="group" aria-label="Control buttons">
                    <button class="btn btn-info" type="button" id="panic">Panic</button>
                    <button class="btn btn-dark" type="button" id="query">Query</button>
                    <button class="btn btn-warning" type="button" id="restart">Restart</button>
                    <button class="btn btn-danger" type="button" id="quit">Quit</button>
                </div>
            </div>
        </div>

        <div class="col-md-8 bg-light">
            <div class="row">
                <div class="col-md-10">
                    <h3>
                        <!-- Fil d'ariane -->
                        /<span class="text-primary" id="current_scene_name" style="white-space: nowrap;"></span>/<span
                            class="text-info" id="current_subscene_name" style="white-space: nowrap;"></span>
                    </h3>
                </div>
                <div class="col-md-2">
                    <span id="current_scene"></span>.<span id="current_subscene"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Body of the scenes and subscenes -->
    <div class="row">
        <!-- List of scenes -->
        <div id="scenes" class="col-md-4 bg-light"> </div>
        <!-- Sub-scene of the current scene -->
        <div id="subscenes" class="col-md-8 bg-light"> </div>
    </div>

    <!-- mididings/fastpi states and scene/subscene navigation buttons -->
    <div class="row mt-1">
        <!-- Application status console -->
        <div class="col-md-4 bg-secondary">
            <!-- Console header -->
            <div class="row mt-2">
                <div class="bg-secondary col-md-6">
                    <div class="card text-center bg-light border-dark-subtle">
                        <div class="card-header">
                            mididings state
                        </div>
                        <div id="mididings-state" class="bg-secondary col-md-6 w-100">
                        </div>
                    </div>
                </div>
                <div class="bg-secondary col-md-6 text-center">
                    <div class="card bg-light border-dark-subtle">
                        <div class="card-header">
                            FastAPI state
                        </div>
                        <div id="server-state" class="bg-secondary col-md-6 w-100">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Scene and Sub-Scene navigation -->
        <div class="col-md-8 bg-light">
            <div class="row mt-1">
                <div class="btn-group" role="group" aria-label="Navigation buttons">
                    <button class="btn btn-outline-primary" type="button" id="prev_scene">⏪ Previous Scene</button>
                    <button class=" btn btn-outline-primary" type="button" id="next_scene">⏩ Next
                        Scene</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="btn-group" role="group" aria-label="Navigation buttons">
                    <button class="btn btn-outline-primary" type="button" id="prev_subscene">⏮️ Previous
                        Sub-Scene</button>
                    <button class="btn btn-outline-primary" type="button" id="next_subscene">⏭️ Next
                        Sub-Scene</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock body %}

{% block websockets %}

<script type="text/javascript" charset="utf-8">

    const scheme = window.location.protocol === "https:" ? "wss" : "ws";
    const host = window.location.host;
    const socket = new WebSocket(`${scheme}://${host}/ws`);

    socket.onopen = () => {
        socket.send(JSON.stringify({ 'action': 'on_connect' }));
        setHtml('mididings-state', '<div class="card border-success">RUNNING</div>');
        setHtml('server-state', '<div class="card border-success">RUNNING</div>');
    }

    socket.onclose = () => {
        setHtml('mididings-state', '<div class="card border-danger">UNKNOWN</div>');
        setHtml('server-state', '<div class="card border-danger">STOPPED</div>');
    }

    socket.onmessage = (event) => {
        const obj = JSON.parse(event.data);
        switch (obj.action) {
            case "mididings_context_update":
                on_render(obj.payload);
                break;
            case "on_exit":
                on_exit();
                break;
            case "on_start":
                on_start();
                break;
            default:
                break;
        }
    }

    function on_start() {
        setHtml('mididings-state', '<div class="card border-success">RUNNING</div>');
    }

    function on_exit() {
        setHtml('mididings-state', '<div class="card border-danger">STOPPED</div>');
    }

    function on_render(context) {
        // Render the content section
        const subscenes = render_scene(context);
        render_subscene(subscenes);
    }

    function render_scene(context) {
        let count = 0;
        let content = "";
        let subscenes = [];

        // Scenes
        for (const scene of context.items) {

            if (count % 2 === 0)
                content += "<div class='row mt-1 mb-1'>";

            // Button style
            let button_class = "'w-100 btn btn-block switch_scene ";
            if (scene.current) {
                setText('current_scene', scene.id);
                setText('current_scene_name', scene.name);
                button_class += "btn-primary'";
                subscenes = scene.subscenes;
            }
            else
                button_class += "btn-outline-dark'";

            content += "<div class='col-md-6'>";
            content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
            content += "</div>";

            count++;

            if (count % 2 === 0)
                content += "</div>";
        }
        // Render the scenes section
        setHtml('scenes', content);

        return subscenes;
    }

    function render_subscene(subscenes) {
        // Subscenes 
        let count = 0;
        let content = "";
        if (!subscenes || subscenes.length === 0) {
            setHtml('subscenes', "<div class='display-6 row mt-1 mb-1'><div class='col-md-12'>No subscenes are defined for this scene.</div></div>");
            setText('current_subscene', "0");
            setText('current_subscene_name', "");
            return;
        }

        for (const scene of subscenes) {

            if (count % 4 === 0)
                content += "<div class='row mt-1 mb-1'>";

            // Button style
            let button_class = "'w-100 btn btn-block switch_subscene ";
            if (scene.current) {
                button_class += "btn-info'";
                setText('current_subscene', scene.id);
                setText('current_subscene_name', scene.name);
            }
            else
                button_class += "btn-outline-dark'";

            content += "<div class='col-md-3'>";
            content += "<input class=" + button_class + " type='button' name='" + scene.id.toString() + "' value='" + scene.name + "'>";
            content += "</div>";

            count++;

            if (count % 4 === 0)
                content += "</div>";
        }
        // Render the subscenes section
        setHtml('subscenes', content);
    }

    function setHtml(id, html) {
        document.getElementById(id).innerHTML = html;
    }

    function setText(id, text) {
        document.getElementById(id).textContent = text;
    }

    document.getElementById("scenes").addEventListener("click", (event) => {
        const target = event.target;

        if (target.matches("input.switch_scene")) {
            socket.send(JSON.stringify({
                action: "switch_scene",
                id: target.name
            }));
        }
    });

    // Sub-Scene navigation delegate
    document.getElementById("subscenes").addEventListener("click", (event) => {
        const target = event.target;

        if (target.matches("input.switch_subscene")) {
            socket.send(JSON.stringify({
                action: "switch_subscene",
                id: target.name
            }));
        }
    });

    document.getElementById("next_scene").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "next_scene"
        }));
    });

    document.getElementById("prev_scene").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "prev_scene"
        }));
    });

    document.getElementById("next_subscene").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "next_subscene"
        }));
    });

    document.getElementById("prev_subscene").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "prev_subscene"
        }));
    });

    document.getElementById("restart").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "restart"
        }));
    });

    document.getElementById("panic").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "panic"
        }));
    });

    document.getElementById("query").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "query"
        }));
    });

    document.getElementById("quit").addEventListener("click", () => {
        socket.send(JSON.stringify({
            action: "quit"
        }));
    });
    window.addEventListener("beforeunload", () => {
        socket.close();
    });
</script>

{% endblock websockets %}